@import url(https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Barlow;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 4.8rem;
  letter-spacing: -1px;
}
.display-1 > .mbr-iconfont {
  font-size: 7.68rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-4 {
  font-family: 'Barlow', sans-serif;
  font-size: 0.9rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.84rem;
    font-size: calc( 2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #8fac3e !important;
}
.bg-success {
  background-color: #8fac3e !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #767676 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #8fac3e !important;
  border-color: #8fac3e !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b1ca6c !important;
  border-color: #b1ca6c !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b1ca6c !important;
  border-color: #b1ca6c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff809f !important;
  border-color: #ff809f !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff809f !important;
  border-color: #ff809f !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #a69e96 !important;
  border-color: #a69e96 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a69e96 !important;
  border-color: #a69e96 !important;
}
.btn-success,
.btn-success:active {
  background-color: #8fac3e !important;
  border-color: #8fac3e !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b1ca6c !important;
  border-color: #b1ca6c !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b1ca6c !important;
  border-color: #b1ca6c !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9c9c9c !important;
  border-color: #9c9c9c !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9c9c9c !important;
  border-color: #9c9c9c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ccc3a5 !important;
  border-color: #ccc3a5 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ccc3a5 !important;
  border-color: #ccc3a5 !important;
}
.btn-white {
  color: #222222 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #516123;
  color: #516123;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #8fac3e;
  border-color: #8fac3e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #8fac3e !important;
  border-color: #8fac3e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #516123;
  color: #516123;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #8fac3e;
  border-color: #8fac3e;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #8fac3e !important;
  border-color: #8fac3e !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #222222 !important;
  border-color: #222222 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #8fac3e !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #8fac3e !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #767676 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #bbd17f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ff99b3 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #bbd17f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b2aba4 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a9a9a9 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #000000 !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #767676;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #8fac3e;
  border-color: #8fac3e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #8fac3e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c5d892;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c5d892;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b6b6b6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #8fac3e;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #8fac3e;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #8fac3e;
  border-bottom-color: #8fac3e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #8fac3e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%238fac3e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-sJyOH5pTKD .navbar {
  background: #efeeee;
  transition: none;
  min-height: 77px;
  padding: 0.5rem 0;
}
.cid-sJyOH5pTKD .navbar-dropdown.bg-color.transparent.opened {
  background: #efeeee;
}
.cid-sJyOH5pTKD a {
  font-style: normal;
}
.cid-sJyOH5pTKD .show {
  overflow: visible;
}
.cid-sJyOH5pTKD .dropdown-menu {
  max-height: 400px;
}
.cid-sJyOH5pTKD .dropdown-item:active {
  background-color: transparent;
}
.cid-sJyOH5pTKD .nav-link {
  font-weight: 600 !important;
}
.cid-sJyOH5pTKD .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-sJyOH5pTKD .nav-item a {
  display: -webkit-flex;
  align-items: center;
  padding: 0.7rem 0 !important;
  margin: 0rem 2rem !important;
  -webkit-align-items: center;
}
.cid-sJyOH5pTKD .nav-item:focus,
.cid-sJyOH5pTKD .nav-link:focus {
  outline: none;
}
.cid-sJyOH5pTKD .btn {
  padding: 0.7rem 2rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-sJyOH5pTKD .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-sJyOH5pTKD .menu-logo {
  margin-right: auto;
}
.cid-sJyOH5pTKD .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1rem;
  padding: 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sJyOH5pTKD .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-sJyOH5pTKD .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  font-weight: 600 !important;
  padding-right: 2rem;
}
.cid-sJyOH5pTKD .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-sJyOH5pTKD .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-sJyOH5pTKD .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-sJyOH5pTKD .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-sJyOH5pTKD .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  padding-right: 1rem;
  max-width: 100%;
}
.cid-sJyOH5pTKD .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-sJyOH5pTKD .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-sJyOH5pTKD .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-sJyOH5pTKD .dropdown .dropdown-menu {
  background: #efeeee;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-sJyOH5pTKD .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  color: #333333 !important;
  padding: 0.2em 1em 0.2em 1em !important;
}
.cid-sJyOH5pTKD .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sJyOH5pTKD .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-sJyOH5pTKD .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sJyOH5pTKD .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: none;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-sJyOH5pTKD .navbar.navbar-short {
  min-height: 60px;
  transition: all 0.2s;
}
.cid-sJyOH5pTKD .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-sJyOH5pTKD .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-sJyOH5pTKD .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-sJyOH5pTKD .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-sJyOH5pTKD .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-sJyOH5pTKD button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-sJyOH5pTKD button.navbar-toggler:focus {
  outline: none;
}
.cid-sJyOH5pTKD button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-sJyOH5pTKD button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sJyOH5pTKD button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sJyOH5pTKD button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sJyOH5pTKD button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sJyOH5pTKD nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sJyOH5pTKD nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sJyOH5pTKD nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sJyOH5pTKD nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sJyOH5pTKD .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sJyOH5pTKD .collapsed .btn {
  display: -webkit-flex;
}
.cid-sJyOH5pTKD .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-sJyOH5pTKD .collapsed .navbar-collapse.collapsing,
.cid-sJyOH5pTKD .collapsed .navbar-collapse.show {
  display: block !important;
  overflow: auto;
}
.cid-sJyOH5pTKD .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-sJyOH5pTKD .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-sJyOH5pTKD .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-sJyOH5pTKD .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-sJyOH5pTKD .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-sJyOH5pTKD .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-sJyOH5pTKD .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-sJyOH5pTKD .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-sJyOH5pTKD .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-sJyOH5pTKD .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sJyOH5pTKD .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: 94.375vh;
  }
}
.cid-sJyOH5pTKD .collapsed button.navbar-toggler {
  display: block;
}
.cid-sJyOH5pTKD .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-sJyOH5pTKD .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sJyOH5pTKD .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-sJyOH5pTKD .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-sJyOH5pTKD .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-sJyOH5pTKD .collapsed .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
@media (max-width: 991px) {
  .cid-sJyOH5pTKD.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sJyOH5pTKD img {
    height: 3.8rem !important;
  }
  .cid-sJyOH5pTKD .btn {
    display: -webkit-flex;
  }
  .cid-sJyOH5pTKD button.navbar-toggler {
    display: block;
  }
  .cid-sJyOH5pTKD .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-sJyOH5pTKD .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sJyOH5pTKD .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-sJyOH5pTKD .navbar-collapse.collapsing,
  .cid-sJyOH5pTKD .navbar-collapse.show {
    display: block !important;
    overflow: auto;
    width: 100%;
  }
  .cid-sJyOH5pTKD .navbar-collapse.collapsing .navbar-nav,
  .cid-sJyOH5pTKD .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-sJyOH5pTKD .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-sJyOH5pTKD .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-sJyOH5pTKD .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-sJyOH5pTKD .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-sJyOH5pTKD .navbar-collapse.collapsing .navbar-buttons,
  .cid-sJyOH5pTKD .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-sJyOH5pTKD .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-sJyOH5pTKD .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-sJyOH5pTKD .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-sJyOH5pTKD .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-sJyOH5pTKD .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-sJyOH5pTKD .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
}
@media (max-width: 767px) {
  .cid-sJyOH5pTKD .nav-link {
    justify-content: start !important;
  }
  .cid-sJyOH5pTKD .navbar.opened {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cid-sJyOH5pTKD .navbar-toggleable-sm {
    width: 100% !important;
  }
  .cid-sJyOH5pTKD .dropdown-menu {
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1) !important;
    background: #efefef !important;
  }
}
@media (min-width: 767px) {
  .cid-sJyOH5pTKD .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-sJyOH5pTKD .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-sJyOH5pTKD .nav-link:hover,
.cid-sJyOH5pTKD .dropdown-item:hover {
  color: #333333 !important;
}
@media (min-width: 1500px) {
  .cid-sJyOH5pTKD .navbar-toggleable-sm .navbar-collapse {
    max-width: 60% !important;
    padding-right: 5rem;
  }
  .cid-sJyOH5pTKD .menu-logo .navbar-brand {
    margin-left: 5rem;
  }
}
.cid-sJyOL0EWHf {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #efeeee;
}
.cid-sJyOL0EWHf .back {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background-color: #8fac3e;
}
.cid-sJyOL0EWHf img {
  width: 100%;
}
.cid-sJyOL0EWHf p {
  margin-top: 6rem;
}
.cid-sJyOL0EWHf .content-wrapper {
  max-width: 750px;
  margin: auto;
  position: relative;
  padding: 0 2rem;
}
.cid-sJyOL0EWHf .content-wrapper {
  padding-top: 6rem;
}
.cid-sJyOL0EWHf h4 {
  position: absolute;
  transform: rotate(-270deg);
  transform-origin: bottom right;
  width: fit-content;
  padding: 0;
  margin: 0;
  right: 6rem;
  bottom: 0;
}
@media (max-width: 1200px) {
  .cid-sJyOL0EWHf .content-wrapper {
    padding-top: 0rem;
  }
  .cid-sJyOL0EWHf p {
    margin-top: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-sJyOL0EWHf .back {
    width: 100%;
    height: 75%;
  }
  .cid-sJyOL0EWHf .content-wrapper {
    padding: 0 3rem;
    padding-top: 4rem;
  }
  .cid-sJyOL0EWHf p {
    margin-top: 4rem;
  }
}
.cid-sJyOL0EWHf .content-wrapper {
  padding-right: 8rem;
}
@media (max-width: 767px) {
  .cid-sJyOL0EWHf .content-wrapper {
    padding: 0rem;
    padding-top: 4rem;
  }
  .cid-sJyOL0EWHf .content-wrapper {
    padding-right: 3rem;
  }
  .cid-sJyOL0EWHf h4 {
    right: 2rem;
  }
}
.cid-sJyOL0EWHf H1 {
  color: #ffffff;
}
.cid-sJyOL0EWHf H3 {
  color: #ffffff;
}
.cid-sJyOL0EWHf .mbr-text,
.cid-sJyOL0EWHf .mbr-section-btn {
  color: #ffffff;
}
.cid-sJyP4Xpfhg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efeeee;
}
.cid-sJyP4Xpfhg .content-block {
  max-width: 700px;
  padding: 4rem 3rem;
}
.cid-sJyP4Xpfhg .img-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 0s;
  background-image: url("../../../assets/images/02.jpg");
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.cid-sJyP4Xpfhg .overlay {
  transition: all 0.3s;
  transition-delay: 0.3s;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: #333333;
}
.cid-sJyP4Xpfhg .wrap {
  width: 100%;
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.cid-sJyP4Xpfhg .wrap:hover .overlay {
  width: 100%;
  transition-delay: 0s;
}
.cid-sJyP4Xpfhg .wrap:hover .img-content {
  opacity: 1;
  transition-delay: 0.3s;
}
.cid-sJyP4Xpfhg .wrap:hover .box-title2,
.cid-sJyP4Xpfhg .wrap:hover .box-text2 {
  color: #333333;
  transition-delay: 0.3s;
}
.cid-sJyP4Xpfhg .wrap:hover .box-content {
  transition-delay: 0.3s;
  background: transparent;
}
.cid-sJyP4Xpfhg .box-title2,
.cid-sJyP4Xpfhg .box-text2 {
  transition: all 0.3s;
  transition-delay: 0s;
}
.cid-sJyP4Xpfhg .box-content {
  transition: all 0.3s;
  background: #333333;
  width: 50%;
}
.cid-sJyP4Xpfhg .content-box {
  padding: 4rem 3rem;
  z-index: 2;
  position: relative;
}
@media (max-width: 767px) {
  .cid-sJyP4Xpfhg .img-content {
    opacity: 1;
  }
  .cid-sJyP4Xpfhg .box-title2,
  .cid-sJyP4Xpfhg .box-text2 {
    color: #333333 !important;
  }
  .cid-sJyP4Xpfhg .content-block,
  .cid-sJyP4Xpfhg .box-content {
    padding: 3rem 1rem;
  }
  .cid-sJyP4Xpfhg .wrap {
    min-height: 300px;
  }
  .cid-sJyP4Xpfhg .box-content {
    width: 100%;
    background: transparent;
  }
}
.cid-sJyP4Xpfhg .box-text1 {
  color: #333333;
}
.cid-sJyP4Xpfhg .box-title2 {
  color: #cccccc;
}
.cid-sJyPaoN659 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #2a2a2a;
}
.cid-sJyPaoN659 .card-wrapper {
  position: relative;
  margin: 0.5rem;
}
.cid-sJyPaoN659 .card-wrapper:hover img {
  transform: scale(1.1);
}
@media (min-width: 767px) {
  .cid-sJyPaoN659 .row {
    padding: 0 4rem;
  }
}
@media (max-width: 1400px) {
  .cid-sJyPaoN659 .card-wrapper {
    margin: 0rem;
  }
}
.cid-sJyPaoN659 .card {
  height: fit-content;
}
.cid-sJyPaoN659 .number {
  border-top: 2px solid currentColor;
  padding-top: 0.4rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  width: fit-content;
}
.cid-sJyPaoN659 .text-wrap {
  max-width: 400px;
}
.cid-sJyPaoN659 .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
  transition: 0.3s;
  background: #ffda00;
}
.cid-sJyPaoN659 .icon:hover {
  padding-right: 1rem;
  padding-left: 2rem;
}
.cid-sJyPaoN659 .card-box {
  background-color: #333333;
  padding: 4rem 4rem 6rem 4rem;
  width: 100%;
}
.cid-sJyPaoN659 img {
  width: 100%;
  transition: 5s;
  object-fit: cover;
}
.cid-sJyPaoN659 .img-wrap {
  max-height: 250px;
  overflow: hidden;
}
.cid-sJyPaoN659 .container {
  max-width: 1500px;
}
.cid-sJyPaoN659 .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-sJyPaoN659 .mbr-iconfont {
  font-size: 1.3rem;
  color: #333333;
  display: flex;
  justify-content: center;
}
.cid-sJyPaoN659 P {
  color: #c1c1c1;
}
@media (max-width: 1200px) {
  .cid-sJyPaoN659 .img-wrap {
    max-height: 230px;
  }
  .cid-sJyPaoN659 .text-wrap {
    padding: 0rem;
  }
}
@media (max-width: 992px) {
  .cid-sJyPaoN659 .card-box {
    margin: 0rem;
    padding: 2rem 2rem 6rem 2rem;
  }
  .cid-sJyPaoN659 .text-wrap {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .cid-sJyPaoN659 .card-box {
    padding: 2rem 1rem 5rem 1rem;
  }
  .cid-sJyPaoN659 .number {
    margin: auto;
  }
}
.cid-sJyPaoN659 .mbr-text {
  color: #cccccc;
}
.cid-sJD4xgpbzL {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sJD4xgpbzL .progress {
  width: 100%;
}
.cid-sJD4xgpbzL .mbr-flex {
  display: flex;
}
.cid-sJD4xgpbzL .mbr-m-auto {
  margin: auto;
  width: 100%;
  padding-bottom: 2rem;
}
.cid-sJD4xgpbzL progress {
  height: 6px;
}
.cid-sJD4xgpbzL .mbr-section-subtitle {
  color: #767676;
}
.cid-sJD4xgpbzL .progress_value {
  position: relative;
}
.cid-sJD4xgpbzL .progress_elements {
  margin: 0 auto;
}
.cid-sJD4xgpbzL .title-wrap {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-sJD4xgpbzL .progress1 .progressbar-number:before,
.cid-sJD4xgpbzL .progress2 .progressbar-number:before,
.cid-sJD4xgpbzL .progress3 .progressbar-number:before,
.cid-sJD4xgpbzL .progress4 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-sJD4xgpbzL progress[value]::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.1);
}
.cid-sJD4xgpbzL .progress1 progress::-webkit-progress-value {
  background: #ff7f9f;
}
.cid-sJD4xgpbzL .progress2 progress::-webkit-progress-value {
  background: #149dcc;
}
.cid-sJD4xgpbzL .progress3 progress::-webkit-progress-value {
  background: #ff3366;
}
.cid-sJD4xgpbzL .progress4 progress::-webkit-progress-value {
  background: #55b4d4;
}
.cid-sJD4xgpbzL .progress1 .progressbar-number:before {
  content: '73';
}
.cid-sJD4xgpbzL .progress2 .progressbar-number:before {
  content: '89';
}
.cid-sJD4xgpbzL .progress3 .progressbar-number:before {
  content: '78';
}
.cid-sJD4xgpbzL .progress4 .progressbar-number:before {
  content: '53';
}
.cid-sJD4xgpbzL .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-sJD4xgpbzL .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-sJD4xgpbzL .progress_value span {
  padding-left: 30px;
}
.cid-sJD4xgpbzL .mbr-section-title {
  color: #232323;
}
.cid-sJD4xgpbzL .progressbar-title p,
.cid-sJD4xgpbzL .progress_value {
  color: #767676;
}
.cid-sJD4xgpbzL p {
  margin-bottom: 0.5rem;
}
.cid-sJD4xgpbzL img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(255, 102, 140, 0.35);
}
@media (max-width: 576px) {
  .cid-sJD4xgpbzL img {
    width: 100%;
  }
}
.cid-sJD3xGvEWc {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #8fac3e;
}
.cid-sJD3xGvEWc .carousel-control {
  background: #000;
}
.cid-sJD3xGvEWc .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sJD3xGvEWc .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-sJD3xGvEWc .carousel-item .wrap-img {
  text-align: center;
}
.cid-sJD3xGvEWc .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-sJD3xGvEWc .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sJD3xGvEWc .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-sJD3xGvEWc .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-sJD3xGvEWc .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-sJD3xGvEWc .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-sJD3xGvEWc .cloneditem-1,
.cid-sJD3xGvEWc .cloneditem-2,
.cid-sJD3xGvEWc .cloneditem-3,
.cid-sJD3xGvEWc .cloneditem-4,
.cid-sJD3xGvEWc .cloneditem-5 {
  display: none;
}
.cid-sJD3xGvEWc .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sJD3xGvEWc .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-sJD3xGvEWc .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides2 .cloneditem-1,
  .cid-sJD3xGvEWc .carousel-inner.slides2 .cloneditem-2,
  .cid-sJD3xGvEWc .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-sJD3xGvEWc .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides3 .cloneditem-1,
  .cid-sJD3xGvEWc .carousel-inner.slides3 .cloneditem-2,
  .cid-sJD3xGvEWc .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-sJD3xGvEWc .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides4 .cloneditem-1,
  .cid-sJD3xGvEWc .carousel-inner.slides4 .cloneditem-2,
  .cid-sJD3xGvEWc .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-sJD3xGvEWc .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides5 .cloneditem-1,
  .cid-sJD3xGvEWc .carousel-inner.slides5 .cloneditem-2,
  .cid-sJD3xGvEWc .carousel-inner.slides5 .cloneditem-3,
  .cid-sJD3xGvEWc .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-sJD3xGvEWc .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-sJD3xGvEWc .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-sJD3xGvEWc .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-sJD3xGvEWc .carousel-inner.slides6 .cloneditem-1,
  .cid-sJD3xGvEWc .carousel-inner.slides6 .cloneditem-2,
  .cid-sJD3xGvEWc .carousel-inner.slides6 .cloneditem-3,
  .cid-sJD3xGvEWc .carousel-inner.slides6 .cloneditem-4,
  .cid-sJD3xGvEWc .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-sJD3xGvEWc .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sJD3xGvEWc H2 {
  color: #ffffff;
}
.cid-sJyORe0uBL {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sJyORe0uBL .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sJyORe0uBL input,
.cid-sJyORe0uBL textarea {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  min-height: 3rem;
  padding: 0rem !important;
  font-size: 1rem;
}
.cid-sJyORe0uBL input:focus,
.cid-sJyORe0uBL textarea:focus {
  border-left: none;
  border-top: none;
  border-right: none;
}
.cid-sJyORe0uBL .form-control,
.cid-sJyORe0uBL .field-input {
  padding: 0.5rem;
  background-color: #ffffff;
  border-color: #cccccc;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sJyORe0uBL .form-control:hover,
.cid-sJyORe0uBL .field-input:hover,
.cid-sJyORe0uBL .form-control:focus,
.cid-sJyORe0uBL .field-input:focus {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sJyORe0uBL input::-webkit-input-placeholder,
.cid-sJyORe0uBL textarea::-webkit-input-placeholder {
  color: #cccccc;
}
.cid-sJyORe0uBL input:-moz-placeholder,
.cid-sJyORe0uBL textarea:-moz-placeholder {
  color: #cccccc;
}
.cid-sJyORe0uBL .jq-selectbox li,
.cid-sJyORe0uBL .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-sJyORe0uBL .jq-selectbox li:hover,
.cid-sJyORe0uBL .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-sJyORe0uBL .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-sJyORe0uBL .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-sJyORe0uBL img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sJyORe0uBL .mbr-form {
  max-width: 450px;
}
.cid-sJyORe0uBL textarea {
  min-height: 150px;
}
.cid-sJyORe0uBL .mbr-text {
  color: #cccccc;
}
.cid-sJyORe0uBL .mbr-form .btn {
  width: 100%;
  justify-content: space-between;
}
.cid-sJyORe0uBL .mbr-form .btn .mbr-iconfont {
  order: 2;
  font-size: 1.5rem;
}
.cid-sJyORe0uBL H2 {
  color: #333333;
}
.cid-sJD4iyaFTu {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sJD4iyaFTu .google-map {
  height: 25rem;
  position: relative;
}
.cid-sJD4iyaFTu .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sJD4iyaFTu .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sJD4iyaFTu .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sJD4iyaFTu .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sJD4iyaFTu .container-fluid {
  padding: 0;
}
.cid-sJD4iyaFTu .relative {
  position: relative;
  width: 100%;
}
.cid-sJD4iyaFTu .mbr-section-title {
  color: #656565;
}
.cid-sJD4iyaFTu .block {
  background: rgba(50, 50, 50, 0.8);
  position: absolute;
  padding: 2rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
}
.cid-sJD4iyaFTu .line {
  height: 3px;
  width: 60px;
  background: #ffffff;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.cid-sJD4iyaFTu .title {
  text-align: center;
  color: #ffffff;
}
.cid-sJD4iyaFTu .text {
  text-align: center;
  color: #ffffff;
  line-height: 1.5;
}
@media (max-width: 576px) {
  .cid-sJD4iyaFTu .block {
    position: relative;
    width: 100%;
    height: auto;
    padding: 6rem 2rem;
  }
}
.cid-sJyOVN9vGA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efeeee;
}
.cid-sJyOVN9vGA [class^='socicon-']:before,
.cid-sJyOVN9vGA [class*=' socicon-']:before {
  line-height: 44px;
}
.cid-sJyOVN9vGA .social-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.cid-sJyOVN9vGA .btn-social,
.cid-sJyOVN9vGA .mbr-section-title {
  color: #57468b;
}
.cid-sJyOVN9vGA .soc-item {
  width: 45px;
  height: 45px;
  background: #efeeee;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.3rem;
}
.cid-sJyOVN9vGA .soc-item span {
  font-size: 1.6rem;
  color: #c1c1c1 !important;
  transition: all 0.3s;
}
.cid-sJyOVN9vGA .soc-item:hover span {
  color: #767676 !important;
}
@media (max-width: 992px) {
  .cid-sJyOVN9vGA .align-left {
    text-align: center;
  }
  .cid-sJyOVN9vGA .align-right {
    text-align: center;
  }
  .cid-sJyOVN9vGA .social-list {
    justify-content: center;
  }
  .cid-sJyOVN9vGA .mb-0 {
    padding-bottom: 1rem;
  }
}
